{
  "swagger": "2.0",
  "info": {
    "title": "Uffizzi docs",
    "description": "Your API does this",
    "version": "1.0"
  },
  "host": "lvh.me:7000",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/api/cli/v1/projects/{project_slug}/compose_file": {
      "get": {
        "tags": [
          "ComposeFile"
        ],
        "operationId": "ComposeFile-show",
        "parameters": [
          {
            "name": "project_slug",
            "description": "The project_slug for the project",
            "required": true,
            "in": "path",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ComposeFile"
            }
          },
          "401": {
            "description": "Not authorized"
          },
          "404": {
            "description": "Not found",
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Get the compose file for the project",
        "summary": "Get the compose file for the project",
        "x-controller": "uffizzi_core/api/cli/v1/projects/compose_files",
        "x-action": "show"
      },
      "post": {
        "tags": [
          "ComposeFile"
        ],
        "operationId": "ComposeFile-create",
        "parameters": [
          {
            "name": "params",
            "description": "params",
            "required": true,
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "compose_file": {
                  "type": "object",
                  "properties": {
                    "path": {
                      "type": "string"
                    },
                    "source": {
                      "type": "string"
                    },
                    "content": {
                      "type": "string"
                    }
                  }
                },
                "dependencies": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "path": {
                        "type": "string"
                      },
                      "source": {
                        "type": "string"
                      },
                      "content": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          {
            "name": "project_slug",
            "description": "The project_slug for the project",
            "required": true,
            "in": "path",
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ComposeFile"
            }
          },
          "422": {
            "description": "Invalid compose file",
            "schema": {
              "$ref": "#/definitions/ComposeFile"
            }
          },
          "401": {
            "description": "Not authorized"
          }
        },
        "description": "Create a compose file for the project",
        "summary": "Create a compose file for the project",
        "x-controller": "uffizzi_core/api/cli/v1/projects/compose_files",
        "x-action": "create"
      },
      "delete": {
        "tags": [
          "ComposeFile"
        ],
        "operationId": "ComposeFile-destroy",
        "parameters": [
          {
            "name": "project_slug",
            "description": "The project_slug for the project",
            "required": true,
            "in": "path",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Not authorized"
          }
        },
        "description": "Delete the compose file for the project",
        "summary": "Delete the compose file for the project",
        "x-controller": "uffizzi_core/api/cli/v1/projects/compose_files",
        "x-action": "destroy"
      }
    },
    "/api/cli/v1/projects": {
      "get": {
        "tags": [
          "Uffizzi"
        ],
        "operationId": "Uffizzi-index",
        "parameters": [

        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "projects": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "slug": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authorized"
          }
        },
        "description": "Get projects of current user",
        "summary": "Get projects of current user",
        "x-controller": "uffizzi_core/api/cli/v1/projects",
        "x-action": "index"
      }
    },
    "/api/cli/v1/session": {
      "post": {
        "tags": [
          "Uffizzi"
        ],
        "operationId": "Uffizzi-create",
        "parameters": [
          {
            "name": "user",
            "description": "user",
            "required": true,
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string"
                },
                "password": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created successfully",
            "schema": {
              "type": "object",
              "properties": {
                "user": {
                  "type": "object",
                  "properties": {
                    "accounts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "state": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "object",
                  "properties": {
                    "password": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Create session",
        "summary": "Create session",
        "x-controller": "uffizzi_core/api/cli/v1/sessions",
        "x-action": "create"
      },
      "delete": {
        "tags": [
          "Uffizzi"
        ],
        "operationId": "Uffizzi-destroy",
        "parameters": [

        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Destroy session",
        "summary": "Destroy session",
        "x-controller": "uffizzi_core/api/cli/v1/sessions",
        "x-action": "destroy"
      }
    }
  },
  "tags": [
    {
      "name": "ComposeFile",
      "description": ""
    },
    {
      "name": "Uffizzi",
      "description": ""
    },
    {
      "name": "Uffizzi",
      "description": ""
    }
  ],
  "securityDefinitions": {
  },
  "definitions": {
    "UffizziCore_ComposeFile": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "source": {
          "type": "string"
        },
        "path": {
          "type": "string"
        },
        "content": {
          "type": "string"
        },
        "auto_deploy": {
          "type": "boolean"
        },
        "state": {
          "type": "string"
        },
        "payload": {
          "type": "string"
        }
      },
      "required": [
        "content"
      ]
    },
    "UffizziCore_ConfigFile": {
      "type": "object",
      "properties": {
        "filename": {
          "type": "string"
        },
        "kind": {
          "type": "string"
        },
        "payload": {
          "type": "string"
        },
        "source": {
          "type": "string"
        }
      }
    }
  }
}